@charset "UTF-8";


/* ESTILO GERAL */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body{
    background-color:black;
    height: 100vh;
}

h2.titulo{
    color: white;
    font-size: 34px;
    text-align: center;

}

h2.titulo span{
   color: #0097b2;

}

header > div.interface > div.logo > a > img{
    border-radius: 100px;
    width: 150px;
    
}

.interface{
    max-width: 1280px;
    margin: 0px auto;
}

.flex{
    display: flex;
}

button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #0097b2;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover{
    box-shadow: 0px 0px 8px #0097b2da;
    transform: scale(1.05);
}


/* Estilo do cabeçalho */

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header a{
    color:#5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color:white;
    text-decoration: none;
    transform: scale(1.08);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display:inline-block;
    padding: 40px;

}

    /* Estilo do topo do site */

    section.topo-do-site{
        padding: 40px 4%;

    }


    section.topo-do-site .flex{
        align-items: center;
        justify-content: center;
        gap: 90px;

    }

    .topo-do-site h1 {
        color: white;
        font-size: 42px;
        line-height: 40px;
    }

    .topo-do-site h1 span {
        color: #0097b2;
        
    }
    
    .topo-do-site .txt-topo-site p{
        margin: 40px 0px;
        color: white;
    }

    .topo-do-site .img-topo-site img{
        position: relative;
        animation: flutuar 2s ease-in-out infinite alternate;
    }

    @keyframes flutuar{
        0%{
            top: 0;
        }

        100%{
            top: 30px;
        }
    }


    /* ESPECIALIDADES */

    section.especialidades{
        padding: 40px 0px;
    }

    section.especialidades .flex{
        gap: 60px;
        
    }

    .especialidades .especialidades-box{
        color: white;
        padding: 40px;
        margin-top: 55px;
        border-radius: 20px;
        transition: .2s;
        
    }

    .especialidades .especialidades-box:hover{
        transform: scale(1.05);
        box-shadow: 0 0 20px #0097b2;
        
    }

    .especialidades .especialidades-box img{
        padding: 40px;
        margin: 20px;
    }

    .especialidades .especialidades-box h3{
        font-size: 28px;
        margin: 15px 0px;
    }

    /* Estilos sobre */

    section.sobre{
        padding: 60px 4%;
    }

    section.sobre .flex{
        align-items: center;
        gap: 60px;
    }

    .sobre .txt-sobre{
        color: white;
    }

    .sobre .txt-sobre h2{
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 30px;
    }

    .sobre .txt-sobre h2 span{
        color: #0097b2;
        display: block;
        
    }

    .sobre .txt-sobre p{
        margin: 20px 0;
        text-align: justify;
    }

    .sobre .txt-sobre .btn-social a img{
        transition: .2s;
        width: 180px;
        height: 180px;
        border: none;
        
     }

    .sobre .txt-sobre .btn-social a img:hover{
        transform: scale(1.10);
        border: 2px;
        box-shadow: 0px 0px 8px #0097b2;
        
     }

    