@charset "UTF-8";


/* ESTILO GERAL */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body{
    background-color:black;
    height: 100vh;
}

h2.titulo{
    color: white;
    font-size: 34px;
    text-align: center;

}

h2.titulo span{
   color: #0097b2;

}

header > div.interface > div.logo > a > img{
    border-radius: 100px;
    width: 150px;
    
}

.interface{
    max-width: 1280px;
    margin: 0px auto;
}

.flex{
    display: flex;
}

button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #0097b2;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #0097b2da;
    transform: scale(1.05);
}


/* Estilo do cabeçalho */

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header a{
    color:#5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color:white;
    text-decoration: none;
    transform: scale(1.08);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display:inline-block;
    padding: 40px;

}

    /* Estilo do topo do site */

    section.topo-do-site{
        padding: 40px 4%;

    }


    section.topo-do-site .flex{
        align-items: center;
        justify-content: center;
        gap: 90px;

    }

    .topo-do-site h1 {
        color: white;
        font-size: 42px;
        line-height: 40px;
    }

    .topo-do-site h1 span {
        color: #0097b2;
        
    }
    
    .topo-do-site .txt-topo-site p{
        margin: 40px 0px;
        color: white;
    }

    .topo-do-site .img-topo-site img{
        position: relative;
        animation: flutuar 2s ease-in-out infinite alternate;
    }

    @keyframes flutuar{
        0%{
            top: 0;
        }

        100%{
            top: 30px;
        }
    }


    /* ESPECIALIDADES */

    section.especialidades{
        padding: 40px 0px;
    }

    section.especialidades .flex{
        gap: 60px;
        
    }

    .especialidades .especialidades-box{
        color: white;
        padding: 40px;
        margin-top: 55px;
        border-radius: 20px;
        transition: .2s;
        
    }

    .especialidades .especialidades-box:hover{
        transform: scale(1.05);
        box-shadow: 0 0 20px #0097b2;
        
    }

    .especialidades .especialidades-box img{
        padding: 40px;
        margin: 20px;
    }

    .especialidades .especialidades-box h3{
        font-size: 28px;
        margin: 15px 0px;
    }

    /* Estilos sobre */

    section.sobre{
        padding: 60px 4%;
    }

    section.sobre .flex{
        align-items: center;
        gap: 60px;
    }

    .sobre .txt-sobre{
        color: white;
    }

    .sobre .txt-sobre h2{
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 30px;
    }

    .sobre .txt-sobre h2 span{
        color: #0097b2;
        display: block;
        
    }

    .sobre .txt-sobre p{
        margin: 20px 0;
        text-align: justify;
    }

    .sobre .txt-sobre .btn-social a img{
        transition: .2s;
        width: 180px;
        height: 180px;
        border: none;
        
     }

    .sobre .txt-sobre .btn-social a img:hover{
        transform: scale(1.10);
        border: 2px;
        box-shadow: 0px 0px 8px #0097b2;
        
     }

     /* Estilo Portfolio */

     section.portfolio{

        padding: 80px 4%;
        box-shadow: 0px 0px 40px 10px rgba(255, 255, 255, 0.137);
     }

     section.portfolio .flex{
       gap: 60px;
       padding: 50px;

     }
       

     .img-port{
        width: 360px;
        height: 460px;
        background-size: cover;
        background-repeat:no-repeat;
        background-position: center;
        transition: 8s;
        cursor: pointer;
        border-radius: 40px;
        position: relative;
     }

     .img-port:hover{
        background-position: 100% 100%;
     }

     .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.747);
        border-radius: 40px;
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        color: white;
        opacity: 0;
     }

     .overlay:hover{
        opacity: 1;
     }

     /* Formulario */
     
     section.formulario{
        padding: 80px 4%;
     }

     form{
        max-width: 500px;
        margin: 0 auto;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
     }

     form input, form textarea{
        width: 100%;
        background-color: #242424;
        border: none;
        outline: none;
        padding: 20px 15px;
        border-radius: 15px;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
     }

     form input::placeholder{
        color: #0097b2;
     }

     form textarea{
        resize: none;
        max-height: 500px;
     }

     form textarea::placeholder{
        color: #0097b2;
     }

     form .btn-enviar{
        margin-top: 10px;
        text-align: center;
        cursor: pointer;
     }

     form .btn-enviar input{
        width: 120px;
        background-color: #0097b2;
        color: white;
        font-weight: 700;
        transition: .3s;
        
     }

     /* Estilo rodapé */

     footer{
        padding: 40px 4%;
        box-shadow: 0px 0px 40px 10px rgba(255, 255, 255, 0.137);

     }

     footer img{
        border-radius: 50%;
        width: 80px;
        height: 80px;
     }

     footer .flex{
        justify-content: space-between;
        display: flex;
     }

     footer .line-footer{
        padding: 20px 0;
     }
     .borda{
        border-top: solid  #0097b2;
     }

     footer .line-footer p a{
        color:#0097b2;
        font-size: 22px;

     }

     @media screen and (max-width: 1020px) {

        /* classes gerais */
        .flex{
            flex-direction: column;
        }
        
        .topo-do-site .flex{
            flex-direction: column-reverse;
        }
        
        
        /* cabeçalho */
        .menu-desktop, .btn-contato{
            display: none;
        }

        /* topo do site */

        .topo-do-site h1{
            font-size: 30px;
        }

        section .topo-do-site{
            padding: 8%;
        }

        section.topo-do-site .flex{
            align-items: center;
            justify-content: center;
            gap: 40px;
        }

        section.especialidades{
            padding: 40px 8%;
        }

        /* titulo */

        h2.titulo{
            font-size: 34px;
            line-height: 30px;
        }

        /* sobre */
        section.sobre{
            padding: 80px 8%;
        }

        .sbore .txt-sobre h2{
            font-size: 34px;
            line-height: 35px;
            text-align: center;
        }

        .btn-social{
            text-align: center;
        }

        .img-sobre img{
            width: 100%;
        }

        /* portfolio */

        section.portfolio{
            padding: 80px 8%;
        }

        .img-port{
            width: 100%;
            max-width: 360px;
            margin: 0 auto;
            height: 460px;
            background-size: cover;
            transition: 8s;
            cursor: pointer;
            border-radius: 40px;
            position: relative;
        }

        section.portfolio .flex{
            gap:60px
        }

        /* rodapé */


     }




     

    